<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636527192650-aebt197aptgte7o3d9e7h10let8lu8v2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636527192650-aebt197aptgte7o3d9e7h10let8lu8v2</string>
	<key>API_KEY</key>
	<string>AIzaSyAU81gOJDEsY862XqxBrY8GranjA3CZIUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>636527192650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>emmaderbe.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chatios13-4cefc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chatios13-4cefc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636527192650:ios:673af771ea74406fb414b3</string>
</dict>
</plist>